
<!-- revolution slider extensions (load below extensions JS files only on local file systems to make the slider work! The following part can be removed on server for on demand loading). We need to insert them in the process of concatenation in the gulpfile. -->
<!--<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.video.min.js"></script>-->

{{ if .Params.notloaded.need }}
<script>
    var notLoaded = document.getElementsByClassName('not-loaded'),
      slider = notLoaded[0];
  
  // Special loading - Slider
  var imgLarge = new Image();
  imgLarge.src = slider.dataset.large; 
  imgLarge.onload = function () {
    slider.style.backgroundImage = 'url('+slider.dataset.large+')';
    slider.classList.add('loaded');
  };
</script>
{{ end }}

{{ with .Site.Params.googleapikey }}
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{.}}"
  type="text/javascript"></script>
{{ end }}
<script src="/js/main.min.js"></script>
<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
