{{ define "main" }}
<main class="main" id="{{ .Type }}-list">
		<!-- start page title section -->
    <section class="wow fadeIn parallax" data-stellar-background-ratio="0.5" style="background-image:url('/xl{{.Params.image }}');">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 extra-small-screen display-table page-title-large">
                    <div class="display-table-cell vertical-align-middle text-center">
                        <!-- start page title -->
                        <h1 class="alt-font text-white font-weight-600 letter-spacing-minus-1 margin-10px-bottom">{{ .Params.titre }}</h1>
                        <!-- end page title -->
                        <!-- start sub title -->
                        <span class="opacity6 text-white alt-font no-margin-bottom subtitle">{{ .Params.subtitle }}</span>
                        <!-- end sub title -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end page title section -->
    <!-- start portfolio section -->
    <section class="wow fadeIn padding-90px-top sm-padding-50px-top xs-padding-30px-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{- partial "site/portfolio-filter.html" . -}}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 no-padding xs-padding-15px-lr">
                    {{- partial "site/portfolio-list.html" . -}}
                </div>
            </div>
        </div>
    </section>
    <!-- end portfolio section -->
    {{- partial "site/cta.html" . -}}
</main>
{{ end }}