{{ define "main" }}
<main class="main" id="contact">
		<!-- start page title section -->
    <section class="wow fadeIn parallax" data-stellar-background-ratio="0.5" style="background-image:url('/xl{{.Params.image}}');">
        <!-- <div class="opacity-very-light bg-extra-dark-gray"></div> -->
        <div class="container">
            <div class="row">
                <img src="/img/preloader-gif.gif" alt="" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); z-index: -2; visibility: visible;" class="gif-loader">
                <div class="col-md-12 col-sm-12 col-xs-12 extra-small-screen display-table page-title-large">
                    <div class="display-table-cell vertical-align-middle text-center">
                        <!-- start page title -->
                        <h1 class="text-white alt-font font-weight-600 letter-spacing-minus-1 margin-15px-bottom">{{ .Params.titre }}</h1>
                        <!-- end page title -->
                        <!-- start sub title -->
                        <span class="text-white opacity6 alt-font subtitle">{{ .Params.subtitle }}</span>
                        <!-- end sub title -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end page title section -->
    {{ with .Params.section1 }}
    <!-- start contact info -->
    <section class="wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 center-col margin-eight-bottom sm-margin-40px-bottom xs-margin-30px-bottom text-center last-paragraph-no-margin">
                    <h5 class="alt-font font-weight-700 text-extra-dark-gray text-uppercase">{{ .title }}</h5>
                </div>  
            </div>
            <div class="row">
                <div class="row">
                    <div class="col-md-3"></div>
                    {{ with .tel }}
                    <!-- start contact info item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center sm-margin-eight-bottom xs-margin-30px-bottom wow fadeInUp last-paragraph-no-margin">
                        <div class="display-inline-block margin-20px-bottom">
                            <div class="bg-extra-dark-gray icon-round-medium"><i class="{{ .icon }} icon-medium text-white"></i></div>
                        </div>
                        <div class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">{{ .title }}</div>
                        <p class="center-col hidden-xs">{{ $.Site.Data.settings.phone }}</p>
                        <a class="center-col visible-xs" href="tel:{{ $.Site.Data.settings.mphone }}">{{ $.Site.Data.settings.phone }}</a>
                        <!-- <a href="#" class="text-decoration-line-through-deep-pink text-uppercase text-deep-pink text-small margin-15px-top xs-margin-10px-top display-inline-block">GET DIRECTION</a> -->
                    </div>
                    <!-- end contact info item -->
                    {{ end }}
                    {{ with .email }}
                    <!-- start contact info item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center sm-margin-eight-bottom xs-margin-30px-bottom wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.6s">
                        <div class="display-inline-block margin-20px-bottom">
                            <div class="bg-extra-dark-gray icon-round-medium"><i class="{{ .icon }} icon-medium text-white"></i></div>
                        </div>
                        <div class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">{{ .title }}</div>
                        <a class="center-col" href="mailto:{{ $.Site.Data.settings.email }}">{{ $.Site.Data.settings.email }}</a>
                        <!-- <a href="#" class="text-decoration-line-through-deep-pink text-uppercase text-deep-pink text-small margin-15px-top xs-margin-10px-top display-inline-block">GET DIRECTION</a> -->
                    </div>
                    <!-- end contact info item -->
                    {{ end }}
                </div>
            </div>
        </div>
    </section>
    <!-- end contact info section -->
    {{ end }}
    {{ with .Params.section2 }}
    <!-- start contact form -->
    <section id="contact" class="wow fadeIn no-padding bg-extra-dark-gray">
        <div class="container-fluid">
            <div class="row equalize sm-equalize-auto">
                <div class="col-md-6 cover-background sm-height-450px xs-height-350px wow fadeIn" style="background: url('/half{{ .image }}')"></div>
                <div class="col-md-6 wow fadeIn">
                    <div class="padding-eleven-all text-center xs-no-padding-lr">
                        <h5 class="margin-55px-bottom text-white alt-font font-weight-700 text-uppercase xs-margin-ten-bottom">{{ .title }}</h5>
                        <form id="project-contact-form" {{ if eq $.Lang "fr" }}action="/merci"{{ else }} action="/en/thank-you" {{ end }} method="POST" netlify name="contact-{{$.Lang}}" role="form">
                            <div class="row">
                                 <div class="col-md-12">
                                    <div id="success-project-contact-form" class="no-margin-lr"></div>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="name" id="name" placeholder='{{ i18n "name" }}*' class="bg-transparent border-color-medium-dark-gray medium-input">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="phone" id="phone" placeholder='{{ i18n "phone" }}' class="bg-transparent border-color-medium-dark-gray medium-input">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="email" id="email" placeholder='{{ i18n "email" }}*' class="bg-transparent border-color-medium-dark-gray medium-input">
                                </div>
                                <!-- <div class="col-md-6">
                                    <div class="select-style bg-transparent border-color-medium-dark-gray medium-select">
                                        <select name="budget" id="budget" class="bg-transparent no-margin-bottom">
                                            <option value="">{{ i18n "select_budget" }}</option>
                                            <option value="$500 - $1000">500$ - 1000$</option>
                                            <option value="$1000 - $2000">1000$ - 2000$</option>
                                            <option value="$2000 - $5000">2000$ - 5000$</option>
                                            <option value="$2000 - $5000">5000$ +</option>
                                        </select>
                                    </div>
                                </div> -->
                                <div class="col-md-12">
                                    <textarea name="comment" id="comment" placeholder='{{ i18n "describe_project" }}' rows="6" class="bg-transparent border-color-medium-dark-gray medium-textarea"></textarea>
                                    <div data-netlify-recaptcha></div>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button id="project-contact-us-button" type="submit" class="btn btn-deep-pink btn-medium margin-20px-top">{{ i18n "send" }}</button>
                                    
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end contact form -->
    {{ end }}
    <!-- start social section -->
    <section class="wow fadeIn half-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center social-style-1 round social-icon-style-7">
                    <ul class="large-icon no-margin-bottom">
                        {{ with .Site.Data.settings.socials.facebookurl }}
                        <li><a href="{{- . -}}" title="Facebook" target="_blank" class="hovered facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                        {{ end }}
                        {{ with .Site.Data.settings.socials.twitterurl }}
                        <li><a href="{{- . -}}" title="Twitter" target="_blank" class="hovered twitter"><i class="fab fa-twitter"></i></a></li>
                        {{ end }}
                        {{ with .Site.Data.settings.socials.linkedinurl }}
                        <li><a href="{{- . -}}" title="Linked In" target="_blank" class="hovered linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                        {{ end }}
                        {{ with .Site.Data.settings.socials.instagramurl }}
                        <li><a href="{{- . -}}" title="Instagram" target="_blank" class="hovered instagram"><i class="fab fa-instagram no-margin-right" aria-hidden="true"></i></a></li>
                        {{ end }}
                    </ul>
                </div>                   
            </div>
        </div>
    </section>
    <!-- end social section -->
</main>
{{ end }}