{{ define "main" }}
<main class="main" id="faq">
		<!-- start page title section -->
    <section class="wow fadeIn cover-background background-position-top top-space" style="background-image:url('http://placehold.it/1920x1080');">
        <div class="opacity-medium bg-extra-dark-gray"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 display-table page-title-large">
                    <div class="display-table-cell vertical-align-middle text-center padding-30px-tb">
                        <!-- start sub title -->
                        <span class="display-block text-white opacity6 width-45 sm-width-100 center-col alt-font margin-10px-bottom">Frequently asked questions</span>
                        <!-- end sub title -->
                        <!-- start page title -->
                        <h1 class="alt-font text-white font-weight-600 no-margin-bottom">FAQs</h1>
                        <!-- end page title -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end page title section -->
    <!-- start breadcrumb section -->
    <section class="wow fadeIn padding-20px-tb border-bottom border-color-extra-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12 display-table">
                    <div class="display-table-cell vertical-align-middle text-left">
                        <div class="breadcrumb alt-font text-small no-margin-bottom">
                            <!-- breadcrumb -->
                            <ul>
                                <li><a href="#" class="text-medium-gray">Home</a></li>
                                <li><a href="#" class="text-medium-gray">Pages</a></li>
                                <li class="text-medium-gray">FAQs</li>
                            </ul>
                            <!-- end breadcrumb -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end breadcrumb section -->
    <!-- start answer section -->
    <section class="wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h6 class="text-uppercase alt-font text-extra-dark-gray font-weight-600 margin-four-bottom">Regular & Extended Licenses</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 center-col">
                    <!-- start accordion -->
                    <div class="panel-group accordion-style1" id="accordion-one">
                        <!-- start accordion item -->
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link1" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">What does royalty free mean?<span class="pull-right position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                            </div>
                            <div id="accordion-one-link1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                    <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    <ul class="line-height-35">
                                        <li>Beautiful and easy to understand UI, professional animations</li>
                                        <li>Theme advantages are pixel perfect design &amp; clear code delivered</li>
                                        <li>Present your services with flexible, convenient and multipurpose</li>
                                        <li>Unlimited power and customization possibilities</li> 
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- end accordion item -->
                        <!-- start accordion item -->
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link2" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">What do you mean by item and end product?<span class="pull-right position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                            </div>
                            <div id="accordion-one-link2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                    <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p> 
                                </div>
                            </div>
                        </div>
                        <!-- end accordion item -->
                        <!-- start accordion item -->
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link3" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">What are some examples of permitted end products?<span class="pull-right position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                            </div>
                            <div id="accordion-one-link3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                    <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                </div>
                            </div>
                        </div>
                        <!-- end accordion item -->
                        <!-- start accordion item -->
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link4" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">Am I allowed to modify the item that I purchased?<span class="pull-right position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                            </div>
                            <div id="accordion-one-link4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                </div>
                            </div>
                        </div>
                        <!-- end accordion item -->
                        <!-- start accordion item -->
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link5" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">I'm not sure if my use is covered. What should I do?<span class="pull-right position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                            </div>
                            <div id="accordion-one-link5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                    <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    <ul class="line-height-35">
                                        <li>Beautiful and easy to understand UI, professional animations</li>
                                        <li>Theme advantages are pixel perfect design &amp; clear code delivered</li>
                                        <li>Present your services with flexible, convenient and multipurpose</li>
                                        <li>Unlimited power and customization possibilities</li> 
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- end accordion item -->
                    </div>
                    <!-- end accordion -->
                </div>
            </div>
        </div>
    </section>
    <!-- end answer section -->
    <!-- start answer section -->
    <section class="wow fadeIn bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h6 class="text-uppercase alt-font text-extra-dark-gray font-weight-600 margin-four-bottom">What is not a single application</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 center-col">
                    <!-- start accordion -->
                    <div class="panel-group accordion-style1" id="accordion-two">
                        <!-- accordion item -->
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link1" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">Can I use a PhotoDune item in different end products?<span class="pull-right position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                            </div>
                            <div id="accordion-two-link1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                    <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                </div>
                            </div>
                        </div>
                        <!-- end accordion item -->
                        <!-- start accordion item -->
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link2" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">What does the Tools License allow me to do?<span class="pull-right position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                            </div>
                            <div id="accordion-two-link2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                    <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    <ul class="line-height-35">
                                        <li>Beautiful and easy to understand UI, professional animations</li>
                                        <li>Theme advantages are pixel perfect design &amp; clear code delivered</li>
                                        <li>Present your services with flexible, convenient and multipurpose</li>
                                        <li>Unlimited power and customization possibilities</li> 
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- end accordion item -->
                        <!-- start accordion item -->
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link3" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">Are warranties offered on the items?<span class="pull-right position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                            </div>
                            <div id="accordion-two-link3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                    <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                    <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                </div>
                            </div>
                        </div>
                        <!-- end accordion item -->
                        <!-- start accordion item -->
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link4" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">Does this apply to all items from Envato Market?<span class="pull-right position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                            </div>
                            <div id="accordion-two-link4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                    <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                </div>
                            </div>
                        </div>
                        <!-- end accordion item -->
                        <!-- start accordion item -->
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link5" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">How do I know my Broadcast audience size?<span class="pull-right position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                            </div>
                            <div id="accordion-two-link5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                </div>
                            </div>
                        </div>
                        <!-- end accordion item -->
                    </div>
                    <!-- end accordion -->
                </div>
            </div>
        </div>
    </section> 
    <!-- end answer section -->
</main>
{{ end }}