html.boxshadow {
	box-shadow: none !important;
}
a.top-bar-link {
	color: white;
	font-size: 11px;
}
#clients {
	.clients-box {
		min-height: 100px;
		max-height: 100px;
	}
	.clients-logo {
		max-height: 100px;
	}
}

#merci .row {
	a {
		text-decoration: underline;
		color: $pcolor;
	}
}

span.subtitle {
	font-size: 19px;
}

.full-height {
	height: 100%;
}
@media (min-width: 768px) {
	.portfolio-grid .grid-item figure .portfolio-img {
		min-height: 300px;
		max-height: 300px;
		img {
			min-height: 300px;
		}
	}
}