<!-- start product hero section -->
<section id="home" class="no-padding parallax mobile-height wow fadeIn" data-stellar-background-ratio="0.5" style="background-image:url('/xl{{ .Params.image }}');">
    <div class="opacity-full bg-black"></div>
    <div class="container position-relative full-screen">
        <div class="slider-typography text-center">
            <div class="slider-text-middle-main">
                <div class="slider-text-middle">
                    <div class="text-bottom-line border-color-deep-pink margin-25px-bottom"></div>
                    <h1 class="text-white alt-font font-weight-700">{{ .Params.listing.title }}</h1>
                    <span class="width-60 center-col text-extra-large display-block  margin-20px-top line-height-30 xs-width-90">{{ .Params.listing.description }}</span>
                    <div class="down-section text-center"><a href="#down-section" class="inner-link"><i class="ti-arrow-down icon-extra-small text-white bg-deep-pink padding-15px-all xs-padding-10px-all border-radius-100"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end product hero section -->
{{ with .Params.section1 }}
<!-- start product information section -->
<section class="wow fadeIn half-section" id="down-section">
    <div class="container">
        <div class="row">
            <div class="col-md-11 center-col text-center margin-70px-bottom sm-margin-50px-bottom xs-margin-30px-bottom wow fadeInUp">
                <h6 class="alt-font text-extra-dark-gray">{{ .title }}</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 no-padding margin-40px-bottom sm-margin-20px-bottom xs-margin-30px-bottom fadeInUp">
                {{ range .table }}
                <div class="col-md-2 padding-30px-lr">
                    <ul class="list-style-6">
                        <li class="text-extra-small text-uppercase text-black font-weight-500 line-height-22">{{ .name }}</li>
                        <li>{{ .text | markdownify }}</li>
                    </ul>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
<!-- end product information section -->
{{ end }}
{{ with .Params.section2 }}
<!-- start product image section -->
<section class="wow fadeIn no-padding">
    <div class="container-fluid no-padding">
        <div class="row no-margin">
            {{ with .image1 }}
            <div class="col-md-6 no-padding wow fadeInUp">
                <img src="{{ . }}" class="width-100" alt="Portfolio"/>
            </div>
            {{ end }}
            {{ with .image2 }}
            <div class="col-md-6 no-padding wow fadeInUp">
                <img src="{{ . }}" class="width-100" alt="Porfolio"/>
            </div>
            {{ end }}
        </div>
    </div>
</section>
<!-- end product image section -->
{{ end }}
{{ with .Params.section3 }}
<!-- start product information section -->
<section class="wow fadeIn">
    <div class="container">
        <div class="row">
            {{ with .text1 }}
            <div class="col-md-5 col-md-offset-1 line-height-28 last-paragraph-no-margin wow fadeInUp">
                <ul class="list-style-6">
                    <li class="text-extra-small text-uppercase text-black font-weight-500 line-height-22">{{ .title }}</li>
                    <li>{{ .description }}</li>
                </ul>
            </div>
            {{ end }}
            {{ with .text2 }}
            <div class="col-md-5 col-md-offset-1 line-height-28 last-paragraph-no-margin wow fadeInUp"  data-wow-delay="0.2s">
                <ul class="list-style-6">
                    <li class="text-extra-small text-uppercase text-black font-weight-500 line-height-22">{{ .title }}</li>
                    <li>{{ .description }}</li>
                </ul>
            </div>
            {{ end }}
        </div>
    </div>
</section>
<!-- end product information section -->
{{ end }}
{{ with .Params.section4 }}
<!-- start product slider section -->
<section class="wow fadeIn no-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="swiper-blog white-move">
                    <div class="swiper-wrapper">
                        {{ range .images }}
                        <!-- start slider item -->
                        <div class="swiper-slide width-50 sm-width-80 xs-width-100">
                            <img src="{{ .image }}" class="width-100" alt=""/>
                        </div>
                        <!-- end slider item -->
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end product slider section -->
{{ end }}
{{ with .Params.section5 }}
<!-- start product video section -->
<section class="wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center display-table sm-margin-50px-bottom xs-margin-30px-bottom center-col wow fadeIn">
                <div class="display-table-cell vertical-align-middle">
                    {{ if .video }}
                    <a class="popup-youtube" href="{{ .videolink }}">
                        <img src="{{ .image }}" class="width-100" alt=""/>
                        <div class="icon-play">
                            <div class="absolute-middle-center">
                                <img src="/images/icon-play.png" alt="">
                            </div>
                        </div>
                    </a>
                    {{ else }}
                    <img src="{{ .image }}" alt="Redaction">
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end product video section -->
{{ end }}
{{ with .Params.section6}}
<!-- start parallax section -->
<section id="home-bottom" class="parallax one-second-screen wow fadeIn" data-stellar-background-ratio="0" style="background-image:url('/xl{{ .image }}');">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>
</section>
<!-- end parallax section -->
{{ end }}